
@font-face {
    font-family: 'Mulish';
    src:url(fonts/Mulish-Regular.ttf);
  }

*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    font-family: 'Mulish' ;
}

.container-form{

    height:1200px;
    width: 100%;
}
.container-form .wrap-heading {
    padding-bottom: 20px;
    padding-top: 20px;
}

.container-form .wrap-heading .form-heading{
  display: block;
    text-align: center;
    color:  #01345B;
    padding: 10px 0px;

}

.container-form  .form_dv {
   
    max-width: 875px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 15px;
}


.clear{clear: both;}


.frm_span{
    
    display: block;
    float: left;
    width: 140px;
}

.ip_frm{
    
    width: calc(100% - 140px);

    height: 35px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 10px;
    color: #000;
}
input,
textarea
{
    font-family: 'Mulish';
}
.frm_span1{
    
    display: block;
    float: left;
    width: 295px;
}

.txt_frm{
    
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 15px;
}
.ip_frm1{
    font-weight: 400;
    font-size: 16.4px;
    width: calc(100% - 295px);
    height: 35px;
    border: 1px solid #ccc;

    margin-bottom: 15px;
    padding-left: 10px;
    color: #000;
}

.linhvuc{
    float: left;
    margin-right: 1%;
    margin-bottom: 10px;
    font-weight: bold;
    width: 24%;

}
.linhvuc span{
    float: left;
    display: block;
    font-size: 13px;
    width: calc(100% - 20px);
}
.div_dv{
    background: #e8e6e6;
    padding: 10px;min-height: 348px;
}
.linhvuc input{float: left;
    margin-right: 7px!important;

}


.frm_dv{
    max-width: 875px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 15px;}
    .div_ip{text-align: center;
    
    }


.sm_frm{  
    cursor: pointer;
    border: none;
    background:  #01345B;
    display: inline-block;
    width: 150px;
    margin-right: 5px;
    color: #fff;
    line-height: 35px;
    font-size: 15px;
    
    margin-bottom: 5px;
    opacity: 0.8;

}

.sm_frm:hover{
   opacity: 1;

}

.title_fr{

    color: #f00;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}
.title_f{
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 2px solid rgb(221, 220, 220);
    padding-bottom: 20px;
    margin-bottom: 20px;

}

    

    